1 Semestr (Py)/3 Unit/5.1.4.py
1 Semestr (Py)/3 Unit/5.2.4.py
1 Semestr (Py)/3 Unit/5.3.4.py
1 Semestr (Py)/4 Unit/5.1.6.py
1 Semestr (Py)/4 Unit/5.2.5.py
1 Semestr (Py)/4 Unit/5.3.6.py
1 Semestr (Py)/1 Unit/1.py
1 Semestr (Py)/1 Unit/2.py
1 Semestr (Py)/1 Unit/3.py
1 Semestr (Py)/1 Unit/4.py
1 Semestr (Py)/2 Unit/5.1.1.py
1 Semestr (Py)/2 Unit/5.1.2.py
1 Semestr (Py)/2 Unit/5.2.1.py
1 Semestr (Py)/5 Unit/5.1.1.py
1 Semestr (Py)/5 Unit/5.2.1.py
1 Semestr (Py)/5 Unit/5.3.1.py
1 Semestr (Py)/6 Unit/6.1.1.py
1 Semestr (Py)/6 Unit/6.2.1.py
1 Semestr (Py)/7 Unit/sortsortsort.py
